body{
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(-45deg, #fff4cc, #ffd8c1, #fac9ff, #b9fff1);
  animation: gradient 5s ease infinite;
  background-size: 300% 100%;

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul{
  list-style: none;
  display: inline;

  li{
    font-family: kansasnew, serif;
    font-size: 2em;
    font-weight: 900;
    color: #201e5a;
    text-align: right;
  }
}




.overlay {
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(147,54,157);
  background-color: rgba(147,54,157, 0.95);
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.4s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  right: 0%;
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  .navbar-nav{
    .nav-item{
      text-align: center;
      font-size: 1.75em;
    }
  }
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #ffcc00;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: -25px;
  right: 0.15em;
  font-size: 5.5em;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}








.header{
  padding:0;

  .navbar{
    padding:0;

    .logo{
      padding:0;
      .img-fluid{
        width:85%;
        @media(min-width:576px){
          width:65%;
        }
      }
    }

    span{
      img{
        width:85%;
        @media(min-width:500px){
          width:65%;
        }
        @media(min-width:576px){
          width:55%;
        }
      }
    }

    .nav{
      display: inline;
    }
  }
}




h2{
  font-family: kansasnew, serif;
  font-weight: 800;
  font-size: 3em;
  color: #201e5a;
}


p{
  font-family: poppins, sans-serif;
  font-weight: 300;
}

.what{
  color: #93369d;
}


.intro {
  h1{
    font-family: kansasnew, serif;
    font-weight: 900;
    font-size: 4.2em;
    @media(min-width:576px){
      font-size: 7em;
      padding-top:1em;
    }
    color: #93369d;
    text-align: center;
    padding-top:2em;
  }

  h2{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 2em;
    color: #201e5a;
    text-align: center;
    padding-bottom: 4em;
    @media(min-width: 576px){
      padding-bottom:4em;
    }
  }

  p{
    text-align: center;
  }

  .me{
    padding-top: 4em;
    position: relative;
    p{
      float: left;
      padding-top:3em;
      font-family: kansasnew, serif;
      font-weight: 800;
      font-size:1em;
      @media(min-width:576px){
        font-size: 1.6em;
        padding-top:5em;
      }
    }

    .arrow{
      width:100%;
      float:left;
      position: absolute;
      left:0;
      top:13em;
      @media(min-width:576px){
        top:18em;
      }
    }

    .megan{
      float:left;
      @media(min-width: 576px){
        width: 57%;
        left: 2em;
      }
    }
  }
}

.selections {
  padding-top:5em;
  padding-bottom: 7em;
  @media(min-width: 576px){
    padding-bottom: 12em;
  }

  h2{
    font-size: 3em;
    text-align: center;
    padding-bottom:1.5em;
    padding-top:7em;
    @media(min-width: 576px){
      padding-top:9em;
    }
  }

  h3{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 2em;
    color: #201e5a;
  }

  .btn{
    font-family: 'kansasnew';
    font-weight: 800;
    font-size: 1.5em;
    color: #fff;
  }


  .card{
    background-color: transparent;
    border: none;
    .card-header{
      background-color: #46C6AC;
      border: 0.35em #46C6AC solid;
      border-radius: 0.75em;
      margin-bottom: 1em;
      padding: 0;

      button{
        text-decoration: none;
        padding-right: 6em;
      }
    }
  }
}


.contact{
  padding-bottom:7em;
  padding-top:2em;
  @media(min-width: 576px){
    padding-bottom: 13em;
    padding-top: 6em;
  }
  h2{
    text-align: center;
    font-size: 3em;
    color: #93369d;
    padding-bottom:0.3em;
  }

  ul{
    display: flex;
    padding-top:1em;
    li{
      padding: 0.2em;
      padding-left: 0;
      img{
        width:85%;
      }
    }
  }

  p{
    text-align: center;
  }
}


}
