body{
  width: 100%;
  margin: 0 auto;

ul{
  list-style: none;
  display: inline;

  li{
    font-family: kansasnew, serif;
    font-size: 2em;
    font-weight: 900;
    color: #201e5a;
    text-align: right;
  }
}

.header{
  padding:0;

  .navbar{
    padding:0;

    .logo{
      padding:0;
      .img-fluid{
        width:100%;
      }
    }

    .nav{
      display: inline;
    }
  }
}




h2{
  font-family: kansasnew, serif;
  font-weight: 800;
  font-size: 3em;
  color: #201e5a;
}


p{
  font-family: poppins, sans-serif;
  font-weight: 300;
}

.what{
  color: #93369d;
}


.intro {
  h1{
    font-family: kansasnew, serif;
    font-weight: 900;
    font-size: 4.2em;
    @media(min-width:576px){
      font-size: 7em;
    }
    color: #93369d;
    text-align: center;
    padding-top:2em;
    @media(min-width:576px){
      padding-top:1em;
    }
  }

  h2{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 2em;
    color: #201e5a;
    text-align: center;
    padding-bottom:4em;
  }
}

.selections {
  padding-top:1em;

  h2{
    font-size: 4em;
    text-align: center;
  }

  h3{
    font-family: kansasnew, serif;
    font-weight: 800;
    font-size: 2em;
    color: #201e5a;
  }
}


.contact{

  h2{
    text-align: center;
    font-size: 4em;
  }

  ul{
    display: flex;
    li{
      width:50%;
      padding: 0.2em;
    }
  }
}


}
